/* Overall */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  /* 3D Scene */
  .is_spinning {
    animation: spinCube 40s infinite linear;
  }
  
  @keyframes spinCube {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  
  div.scene {
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 20px;
    perspective: 400px;
    user-select: none;
  }
  
  /*
  Zooms to fit the screen reasonably well
  Adjusts viewing angle too.
  */
  .zoomer {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1000px) rotateX(-30deg);
  }
  
  /* defines the rotation */
  .spinner {
    position: relative;
    transform-style: preserve-3d;
  }
  
  /* this is centered around axis of rotation */
  .polycube {
    /*transform: translateX(-200px) translateZ(-200px);*/
    position: relative;
    transform-style: preserve-3d;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
  }

  .show_cube_face_labels .cube__face {
    color: black;
  }

  .opaque_cube_faces .cube__face {
    background: hsla(0, 100%, 45%, 1.0);
  }

  .dotted_cube_edges .cube__face{
    border: 5px dotted black;
  }

  .transparent_cube_faces .cube__face {
    background: transparent;
  }

  .cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  
  .cube__face--front {
    background: hsla(0, 100%, 45%, 0.8);
    transform: rotateY(0deg) translateZ(100px);
  }
  .cube__face--right {
    background: hsla(240, 100%, 50%, 0.8);
    transform: rotateY(90deg) translateZ(100px);
  }
  .cube__face--back {
    background: hsla(120, 100%, 40%, 0.8);
    transform: rotateY(180deg) translateZ(100px);
  }
  .cube__face--left {
    background: hsla(240, 100%, 50%, 0.8);
    transform: rotateY(-90deg) translateZ(100px);
  }
  .cube__face--top {
    background: hsla(60, 100%, 50%, 0.8);
    transform: rotateX(90deg) translateZ(100px);
  }
  .cube__face--bottom {
    background: hsla(60, 100%, 50%, 0.8);
    transform: rotateX(-90deg) translateZ(100px);
  }
