/* Overall */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  /* 3D Scene */
  .is_spinning {
    animation: spinCube 40s infinite linear;
  }
  
  @keyframes spinCube {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  
  .referenceCopy {
    display:none;
  }
  
  div.scene {
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 20px;
    perspective: 400px;
    user-select: none;
  }
  
  /*
  Zooms to fit the screen reasonably well
  Adjusts viewing angle too.
  */
  .zoomer {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1000px) rotateX(-30deg);
  }
  
  /* defines the rotation */
  .spinner {
    position: relative;
    transform-style: preserve-3d;
  }
  
  /* this is centered around axis of rotation */
  .polycube {
    /*transform: translateX(-200px) translateZ(-200px);*/
    position: relative;
    transform-style: preserve-3d;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
  }
  .cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
  }
  .cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
  }
  .cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
  }
  .cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
  }
  .cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
  }
  
  .cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: hsla(0, 100%, 50%, 0);
    text-align: center;
  }
  
  .cube__face--front {
    background: hsla(0, 100%, 45%, 0.8);
  }
  .cube__face--right {
    background: hsla(240, 100%, 50%, 0.8);
  }
  .cube__face--back {
    background: hsla(120, 100%, 40%, 0.8);
  }
  .cube__face--left {
    background: hsla(240, 100%, 50%, 0.8);
  }
  .cube__face--top {
    background: hsla(60, 100%, 50%, 0.8);
  }
  .cube__face--bottom {
    background: hsla(60, 100%, 50%, 0.8);
  }
  
  .cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
  }
  .cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  /* Elevation Map */
  .map {
    margin: 20px;
    padding: 5px;
    user-select: none;
    border: 1px solid #ccc;
  }
  
  .map .but {
    float: left;
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
  }
  
  .map .but.active {
    background-color: #DDD;
    border-top: 3px solid #0D0;
    border-bottom: 3px solid #F00;
    border-left: 3px solid #00F;
    border-right: 3px solid #00F;
  }
  
  .map .but:hover {
    background-color: #FFF;
    background: #94ff9b;
  }
  
  .map .but.active:hover {
    background-color: #FFF;
    background: linear-gradient(45deg, #ff9d9b 50%, #94ff9b 50%);
  }
  
  /* Text Area */
  .points {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .points textarea {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  .compact {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .compact textarea {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    resize: none;
  }