/* https://codepen.io/simon-sant-cassia/pen/QWGdOgV */

.tabs-container {
  display: flex;
  flex-wrap: wrap;
}

.tabs-container.hide-labels > .tab-label {
  display: none;
}

.tabs-container > input[type=radio]:first-child + .tab-label {
  border-radius: 5px 0 0 0px;
}

.tabs-container > input[type=radio]:last-of-type + .tab-label {
  border-radius: 0 5px 0px 0;
}

/* hide the actual radio buttons */
.tabs-container > input[type=radio] {
  display: none;
}

.tabs-container > input[type=radio]:checked + .tab-label {
  background-color: #eee;
  color: darkslategray;
}

.tabs-container > input[type=radio]:not(:checked) + .tab-label + .tab-content {
  display: none;
}

.tabs-container .tab-label {
    padding: 5px 15px;
    color: white;
    background-color: darkslategray;
}

.tabs-container .tab-content {
  order: 99;
  width: 100%;
  display: block;
}