.editor__textbox--loading {
    background-color: #ccccff;
}

.editor__textbox--error {
    background-color: #ffcccc;
}

.editor__textbox--success {
    background-color: #ccffcc;
}

.editor__textbox--changed {
    background-color: #ffffcc;
}