* {
    box-sizing: border-box;
}

.map {
    margin: 20px;
    user-select: none;
    overflow: hidden;
}

.map.small {
    width: 200px;
}

.map.large {
    width: 600px;
}

div.caption {
   background-color: lightgrey;
   padding: 3px; 
}

.actualMap {
    display: grid;
    padding: 15px;
    grid-auto-rows: 1fr; /* introduces hairline gaps between rows, resolves others */
    grid-gap: 0px;
    background-color: #eee;
}

.map-cell {
    display: flex;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.map-cell .cell-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
