{% 
# Template to showcase a single color with some explanatory text.
%}

<div style="margin:4px">
  <div style="width:50px;height:50px;float:left;margin-right:5px;" class="color{{color}}"></div>
  <div style="height:50px;padding-top:15px;" class="cell-content">color{{color}}{%if text%} ({{text}}){%endif%}</div>
</div>