{% assign is_spinning = spin | default:false %} 
{% assign actualCaption = caption | default:key %} 
{% assign actualTransform = transform | default:"A0" %}
{% assign piece = piece-library[key] | hydratePiece | transformPiece:actualTransform %} 

<div class="map" style="width:282px;">
<div class="actualMap">
<div class="scene {{ scene_classes}}">
  <div class="zoomer">
    <div class="spinner {% if is_spinning %}is_spinning{% endif %}">
      <div class="polycube" style="transform: translateX(-200px) translateZ(-200px) translateY(300px);">
      {%- for computedStyle in piece.pointsRender -%}
        <div class="cube" style="{{ computedStyle }}">
          {%- include piece3dFace side:"front" text:"front" -%}
          {%- include piece3dFace side:"back" text:"back" -%}
          {%- include piece3dFace side:"right" text:"right" -%}
          {%- include piece3dFace side:"left" text:"left" -%}
          {%- include piece3dFace side:"top" text:"top" -%}
          {%- include piece3dFace side:"bottom" text:"bottom" -%}
        </div>
      {%- endfor -%}
      </div>
    </div>
  </div>
</div>
</div>
{%- if actualCaption -%}
  <div class="caption" align="center">{{actualCaption}}</div>
{% endif %}
</div>
