{% assign is_spinning = spin | default:false %} 
{% assign caption = caption | default:key %} 
{% assign transform = transform | default:"A0" %}
{% assign piece = piece-library[key] | hydratePiece | transformPiece:transform %} 

<div class="map" style="width:282px;">
<div class="actualMap">
<div class="scene">
  <div class="zoomer">
    <div class="spinner {% if is_spinning %}is_spinning{% endif %}">
      <div class="polycube" style="transform: translateX(-200px) translateZ(-200px) translateY(300px);">
      {% for computedStyle in piece.pointsRender %}
        <div class="cube" style="{{ computedStyle }}">
          <div class="cube__face cube__face--front">front</div>
          <div class="cube__face cube__face--back">back</div>
          <div class="cube__face cube__face--right">right</div>
          <div class="cube__face cube__face--left">left</div>
          <div class="cube__face cube__face--top">top</div>
          <div class="cube__face cube__face--bottom">bottom</div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% if caption %}
  <div class="caption" align="center">{{caption}}</div>
{% endif %}
</div>
