{% assign actualTransform = transform | default:"A0" %}
{% assign piece = piece-library[key] | hydratePiece | transformPiece:actualTransform %} 
{% assign actualCaption = caption | default:key %} 

<div class="map {{size}}" {% if mapid %} id="{{mapid}}"{% endif %}>
 <div class="actualMap">
  {% for pos in piece.elevationMap %}
  {% assign label = pos.z | hideOneLabels %} 
  {% assign adjustedColor = color | plus: pos.z | plus: -1 %}
  {% include square, x: pos.x, y: pos.y, color:adjustedColor, text:label %}
  {% else %}empty!
  {% endfor %}
 </div>
 {% if actualCaption %}
  <div class="caption" align="center">{{actualCaption}}</div>
 {% endif %}
</div>
