<div class="map {{size}}">
<div class="actualMap">
{% for pos in boxCoords %}{% include square, x: pos[0], y: pos[1], color:pos[2] %}
{% else %}empty!
{% endfor %}
</div>
{% if caption %}
<div class="caption" align="center">
{{caption}}
</div>
{% endif %}
</div>
